# If you want to use this configuration, you need following lines in your-repo/.gitattributes
# *.pptx diff=openxml
# *.docx diff=openxml
# *.xlsx diff=openxml
[diff "openxml"]
  textconv = ~/dotfiles/bin/unopenxml.sh
[diff]
    tool = vimdiff
[user]
	name = Keita Watanabe
	email = keitaw09@gmail.com
[alias]
    current-branch-name = ! git branch | grep -e '^\\* ' | sed -e 's/^\\* //g'
    force-pull = !git fetch && git reset --hard origin/$(git current-branch-name)
    rename-branch-remote = "!f() { git branch -m $1 $2 && git push origin :$1 && git push origin $2;}; f"
    delete-branch-remote = "!f() { git branch -D $1 && git push origin :$1;}; f"
